.box {
  position: relative;
  text-align: center;
}

.box-body {
  position: relative;
  height: 50px;
  width: 70px;
  margin-top: 43px;
  background-color: #cc231e;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  background: linear-gradient(#762c2c, #ff0303);
  transition: transform 1s ease-in-out;
}

.box-body .img {
  opacity: 0;
  transform: translateY(0%);
  transition: opacity 1s ease 1s, transform 1s ease 1s;
  margin: 0 auto;
  display: block;
}

.box-body.open .img {
  opacity: 1;
  transform: translateY(-62px);
}

.box-body.open .box-lid,
.box-body.close .box-lid {
  animation: box-lid-open 2s forwards ease-in-out;
}

.box-body.close .img {
  opacity: 0;
  transform: translateY(10%);
}

.box-body.close .box-lid {
  animation: box-lid-close 2s forwards ease-in-out;
}

.box-body.open .box-bowtie::before,
.box-body.close .box-bowtie::before {
  animation: box-bowtie-left 1.1s forwards ease-in-out;
}

.box-body.open .box-bowtie::after,
.box-body.close .box-bowtie::after {
  animation: box-bowtie-right 1.1s forwards ease-in-out;
}

.box-body::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  background: linear-gradient(#ffffff, #ffefa0);
}

.box-lid {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 90%;
  height: 20px;
  background-color: #cc231e;
  width: 80px;
  border-radius: 5%;
  box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.3);
}

.box-lid::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  background: linear-gradient(#ffefa0, #fff);
}

.box-bowtie {
  z-index: 1;
  height: 100%;
}

.box-bowtie::before,
.box-bowtie::after {
  content: "";
  width: 41px;
  height: 41px;
  border: 17px solid rgb(252, 210, 24);
  border-radius: 50% 50% 0 50%;
  position: absolute;
  bottom: 99%;
  z-index: -1;
}

.box-bowtie::before {
  left: 50%;
  transform: translateX(-100%) skew(10deg, 10deg);
}

.box-bowtie::after {
  left: 50%;
  transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
}

.no-animation * {
  transition: none !important;
  animation: none !important;
}

/* Keyframe Animations for Opening */
@keyframes box-lid-open {
  0%, 42% {
    transform: translate3d(-50%, 0%, 0) rotate(0deg);
  }
  60% {
    transform: translate3d(-85%, -230%, 0) rotate(-25deg);
  }
  90%, 100% {
    transform: translate3d(-119%, 225%, 0) rotate(-70deg);
  }
}

@keyframes box-lid-close {
  0% {
    transform: translate3d(-119%, 225%, 0) rotate(-70deg);
  }
  40% {
    transform: translate3d(-85%, -230%, 0) rotate(-25deg);
  }
  90%, 100% {
    transform: translate3d(-50%, 0%, 0) rotate(0deg);
  }
}

@keyframes box-bowtie-right {
  0%, 50%, 75% {
    transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
  }
  90%, 100% {
    transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.3);
  }
}

@keyframes box-bowtie-left {
  0% {
    transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
  }
  50%, 75% {
    transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
  }
  90%, 100% {
    transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
  }
}

.bounce-up {
  animation: bounceUp 2s ease-in forwards; /* Adjust duration as needed */
  visibility: visible;
}

.bounce-down {
  animation: bounceDown 3.2s ease-in forwards; /* Adjust duration as needed */
  visibility: visible;
}

/* Keyframes for bounce-up */
@keyframes bounceUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2); /* Enlarging */
  }
  100% {
    transform: scale(2); /* Hold position */
  }
}

/* Keyframes for bounce-down */
@keyframes bounceDown {
  0% {
    transform: scale(2); /* Start from enlarged position */
  }
  50% {
    transform: scale(1); /* Shrinking back */
    visibility: hidden;
  }
}
